[package]
name = "wfetch"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[dependencies]
chrono = "0.4.38"
clap = { version = "4.5.18", features = ["derive", "string"] }
clap_complete = "4.5.29"
crossterm = "0.28.1"
csv = "1.3.0"
dirs = "5.0.1"
execute = "0.2.13"
fast_image_resize = { version = "4.2.1", features = ["image"] }
image = "0.25.2"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
signal-hook = "0.3.17"
sysinfo = "0.31.4"
xterm-query = "0.4.1"

[features]
default = []
nixos = []

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
enum_glob_use = "deny"
missing_errors_doc = { level = "allow", priority = 1 }
missing_panics_doc = { level = "allow", priority = 1 }
must_use_candidate = { level = "allow", priority = 1 }
nursery = { level = "deny", priority = -1 }
pedantic = { level = "deny", priority = -1 }
option_if_let_else = { level = "allow", priority = 1 }
unwrap_used = "deny"

[profile.release]
strip = true
lto = true
